* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--text);
  list-style: none;

}

:root {
  --primaria: #ffa400;
  --secundaria: #000000;
  --text: #2d2d2d;
  --textcorpo: "open sans";
  --texttitulo: "playfair display";
}

a {
  text-decoration: none;
  color: var(--text);
  font-family: var(--texttitulo);
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;


}

#menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 95px;
}


#menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin-top: 10px;
}

#menu ul li {
  padding-right: 45px;
}

#menu ul li a {
  font-family: var(--texttitulo);
  font-weight: 450;
  text-decoration: none;
  font-size: 25px;
  color: #2d2d2d;
}



.faixa {
  background: #000000a2;
  padding: 15px;
  height: 400px;
  margin: 50px 0px;
}

#interior_banner {
  display: flex;
  justify-content: space-between;
  align-items: center;


}

#interior_banner form {

  margin-top: -40px;
  border: #ffa400 dashed 1px;
  border-radius: 50px;
  background-color: #ffffff8b;
  height: 450px;
  z-index: 999999;
  position: relative;
}

#busca {
  box-shadow:
    0 -5px 10px rgba(0, 0, 0, 0.2),
    /* sombra em cima */
    0 5px 10px rgba(0, 0, 0, 0.2);
  /* sombra embaixo */
}

.lll {
  margin: 30px 0px;
}

.campopesquisa input {
  width: 300px;
  height: 35px;
  margin: 25px;
  padding-left: 10px;
  border: #000000 dashed 1px;
  background-color: transparent;
  border-radius: 10px;
}

.campopesquisa input::placeholder {
  color: rgb(0, 0, 0);
  font-family: var(--textcorpo);
  font-size: 15px;

}

.botaobuscar {
  display: flex;
  justify-content: right;
  margin-right: 15px;
}

.botaobuscar button {
  border: #ffa400 solid 1px;
  background-color: var(--primaria);
  border-radius: 10px;
  width: 45%;
  height: 40px;
  cursor: pointer;
  color: #ffffff;
  font-family: var(--texttitulo);
  font-size: 22px;
  margin-right: 15px;

}

.logobanner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 999999;
}

.meajudaporfavor {
  margin-top: -350px;
}

.diferencial {
  color: var(--primaria);
  font-family: var(--texttitulo);
  font-size: 30px;
  text-align: center;
  font-weight: 500;
}

#imgfundo img {
  height: 300px;

  width: 1015px;
  margin-left: -15px;

}



/* -------------------------Carrossel logo(começo)----------------------------- */
@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

#carrosel {
  margin-top: 85px;

}

.legenda {
  display: flex;
  justify-content: center;
  align-items: center;
}

.legenda p {
  color: var(--text);
  font-family: var(--texttitulo);
  font-size: 50px;
  text-align: center;
  font-weight: 500;
  width: 550px;
}

.linha {
  border: #000000 1px solid;
  width: 100%;
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.logos-slide img {
  height: 100px;
  margin: 0 40px;
}

/* -------------------------Carrossel logo(final)----------------------------- */


/* ------------------Começo Seção noticias-------------------- */


#secaoartigos {
  display: flex;
  justify-content: center;
  margin: 85px 5px;
  flex-wrap: wrap;
  gap: 35px;
}

.cardartigo {
  flex-grow: 1;
}

.bordaartigo {

  width: 320px;

}

.legendacard {
  background-color: var(--primaria);
  width: 100%;
  height: 45px;
  border-radius: 5px;
}

.legendacard p {
  font-family: var(--texttitulo);
  color: #ffffff;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}

.fotocardartigo {
  width: 100%;
  height: 300px;
  margin-bottom: 30px;
}

.fotocardartigo img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
  margin-top: 5px;
  object-fit: cover;
}

.botaoartigo {
  position: relative;
  margin-top: -5px;
  display: flex;
}

.botaoartigo a {
  color: #ffffff;
  font-family: var(--texttitulo);
  font-size: 30px;
  text-align: right;
  width: 322px;
  height: 55px;
  background-color: black;
  border-radius: 5px;
  padding: 5px;
  text-decoration: none;
}

.tituloartigo {
  display: flex;
  justify-content: center;
  width: 310px;
}

.tituloartigo p {
  text-align: center;
  font-family: var(--texttitulo);
  font-size: 20px;
  font-weight: 0;
}




/* ------------------Final Seção noticias-------------------- */

/* rodape começo */

#rodape {
  border-top: solid 2px #C1CACA;
}

#listarodape {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 35px 0px;
}

.colunarodape h2 {
  font-family: var(--texttitulo);
  font-weight: 550;
  padding-bottom: 25px;
}

.colunarodape ul li {
  font-size: 1.2em;
  list-style: none;
  padding-top: 5px;
  padding-bottom: 10px;
}

.colunarodape ul li a:hover {
  color: var(--primaria);
}

.rede-sociais a {
  padding: 0px 5px;
}

.link-app img {
  padding: 35px 0px;
}

.copyright {
  text-align: center;
  padding-top: 35px;
}

/* rodape final */

/* ---------COMEÇO SOBRE NÓS----------- */

.textsobenos{
  width: 85%;
  text-align: center;
  margin: 0 auto;
    font-size: clamp(20px, 1.2vw, 25px);
}

#visaomissaovalor {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;


}

.borda {
  border: solid #C1CACA 3px;
  border-radius: 15px;
  max-width: 30%;
  height: 350px;
  padding: 25px;

}

#missao,
#visao {
  transform: translateY(250px);
  margin-bottom: 250px;
}

#missao {
  position: relative;
  margin-right: -35px;
}

#visao {
  position: relative;
  margin-left: -35px;
}

.tituloborda {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--texttitulo);
  font-size: Clamp(20px, 3.5vw, 25px);
}

.nossacoltura {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
  text-align: left;
  margin: 0 auto;
}

.nossacoltura p {
  display: flex;
  font-size: Clamp(16px, 0.95vw, 20px);
  align-items: center;
  flex: 1;
  width: 100%;

  align-items: center;
  justify-content: center;
}

.convitetext h2 {
  margin: 70px 0px;
  text-align: center;
  font-family: var(--texttitulo);
  font-size: Clamp(20px, 3.5vw, 40px);
}

/* ---------FINAL SOBRE NÓS----------- */


/* ----------------------INICIO CSS DA PAG CONTATO------------------------ */

.perfisSociais {
  display: flex;
  justify-content: right;
  margin-bottom: 50px;
}



#hrfuncionamento {
  display: flex;
  justify-content: space-between;
}

.hratendimento {
  margin-top: 0px;
}

.hratendimento h2 {
  font-family: var(--texttitulo);
  font-size: clamp(25px, 5vw, 45px);
}

.hratendimento h2 span {
  color: var(--primaria);
  font-family: var(--textcorpo);
  font-weight: 500;
}

.horarios {
  margin-top: 50px;
  font-size: clamp(20px, 1.5vw, 27px);
}

.horarios p {
  margin-bottom: 20px;
}

.hrdasemana li {
  padding-bottom: 25px;
}

.linkdofaq a {
  background-color: var(--primaria);
  width: 100%;
  border-radius: 20px;
  padding: 8px 50px;
  font-size: clamp(1vw, 20px, 1.5vw);
  color: rgb(255, 255, 255);
  font-weight: 700;
  text-shadow: 0px 0px 2px #000;
}

#informacoescontato {
  margin: 65px 0px;
}

.titulocontatos h2 {
  font-size: clamp(0.65vw, 30px, 2.5vw);
  font-family: var(--texttitulo);
  font-weight: 400;
  margin-bottom: 25px;
}

.iconecontato a {
  font-size: clamp(0.55vw, 25px, 2vw);
  display: flex;
  align-items: center;
}

.iconecontato i {
  margin: 25px 15px;
  background: var(--primaria);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#formcontato {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  margin-bottom: 85px;
}

.formsolicitacaocontato {
  width: 55%;

}

.tituloform h2 {
  text-align: center;
  font-family: var(--texttitulo);
  font-weight: 400;
  font-size: clamp(0.65vw, 35px, 3vw);
  margin-bottom: 50px;
}

#solicitacaocontato {
  border: solid 2px black;
  border-radius: 30px;
  width: 100%;
  padding: 25px;
}

.dadosuser input {
  background-color: transparent;
  border: none;
  border-bottom: #000 solid 1px;
  width: 100%;
  margin: 25px 0px;
  outline: none;
}

.dadosuser ::placeholder {
  padding-left: 25px;
  font-size: clamp(0.30vw, 17px, 2vw);
}

.assuntouser textarea {
  background-color: transparent;
  border: none;
  resize: none;
  overflow: scroll;
  overflow-wrap: break-word;
  text-align: left;
  height: 100px;
  width: 100%;
  margin: 15px 0px;
  outline: none;
}

.assuntouser textarea::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.botaocontato {
  display: flex;
  justify-content: right;
}

.botaocontato button {
  border: solid 2px black;
  border-radius: 30px;
  width: 35%;
  height: 35px;
  cursor: pointer;

}

.modeloindicanews img {
  position: relative;
  margin-bottom: -27px;
}



/* ----------------------FINAL CSS DA PAG CONTATO------------------------ */




/* -----------------começo tela faq----------------- */
.tituloajuda {
  text-align: center;
  margin: 55px 0px;

}

.tituloajuda h1 {
  font-family: var(--texttitulo);
  font-size: clamp(1.5vw, 45px, 2.5vw);
  font-weight: 200;
}

.tituloajuda h2 {
  font-weight: 400;
  font-size: clamp(1vw, 25px, 2vw);
  color: var(--primaria);
}

#listadefaq h2 {
  text-align: center;
  font-size: 35px;
  font-family: var(--texttitulo);
  width: 50%;
  border-bottom: 10px solid #7c7f7f41;
  margin: 0 auto;
}

.atalhos {
  margin: 65px 0px;
}

.listatalhos {
  display: flex;
  justify-content: space-between;
  align-items: center;


}

.listatalhos li {
  font-size: clamp(0.35vw, 20px, 2vw);
  background: #c2c1c16e;
  border-radius: 15px;
  padding: 6px 0px;
  text-align: center;
  width: 23%;
}

.faqs {
  display: flex;
  margin: 50px 0px;
}

.categoriafaq {
  width: 25%;
  margin-left: 25px;
}

.categoriafaq ul {
  list-style: none;
  font-size: 45px;
  font-family: var(--texttitulo);

}

.categoriafaq li {
  font-size: clamp(0.55vw, 27px, 2.5vw);
  margin-bottom: 35px;
}

.categoriafaq ul li:hover {
  width: 70%;
  border-bottom: #7c7f7f5e 5px solid;
}

.respostafaq {
  width: 70%;
  margin-left: 55px;
  margin-bottom: 65px;
}



.respostaduvida {
  margin-bottom: 15px;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;

}

.perguntafaq {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  font-family: var(--textcorpo);

}

.textchamado {
  display: none;
  /* começa escondido */
  margin-top: 8px;
  line-height: 1.5;
  max-width: 695px;
  font-size: 16px;
  font-family: var(--textcorpo);
}

.dadosdoenvio {
  border: 5px solid #C1CACA;
  border-radius: 15px;
  width: 55%;
  padding: 25px;
  margin-left: 35px;
}



.titulo h2 {
  font-family: var(--texttitulo);
  font-weight: 400;
  font-size: clamp(1vw, 35px, 3vw);
  margin: 35px 0px;
}

.textusuario input {
  width: 90%;
  height: 30px;
  padding-left: 5px;
  outline: none;
  border: var(--text) 1px solid;
  background: transparent;
}

.textusuario textarea {
  width: 90%;
  height: 100px;
  resize: none;
  outline: none;
  border: var(--secundaria) 1px solid;
  background: transparent;
  margin-top: 10px;
  padding-left: 5px;
  margin-right: -15px;
  padding-right: 15px;
  overflow-y: hidden;
  font-size: 20px;
}

.botaoenviar {
  display: flex;
  justify-content: right;
  width: 58%;
  margin: 25px 0px;

}

.botaoenviar button {
  border: solid 3px var(--primaria);
  border-radius: 15px;
  padding: 5px 10px;
  width: 20%;
  background-color: transparent;
  color: var(--primaria);
  margin-bottom: 50px;
}




/* ----------------final tela faq---------------- */

/* -------------------inicio tela flitragem------------- */
.resultabusca {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.textresultado h1 {
  font-weight: 500;
  font-size: clamp(0.35vw, 45px, 3vw);
}

.textresultado h2 {
  font-family: var(--textcorpo);
  font-size: clamp(0.35vw, 30px, 3vw);
  font-weight: 400;
}

#produtocarrinho {
  max-width: 1240px;
  margin: 40px auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.pesquisa {
  margin-bottom: 25px;
}

.pesquisa label {
  font-size: clamp(0.35vw, 22px, 3vw);



}

.pesquisa input {  margin-top: 15px;
  padding: 0px 10px;
  width: 100%;
  font-size: clamp(0.35vw, 16px, 3vw);
  border-radius: 10px;
}

.tttt {

  width: 100%;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.bordaritem {
  display: flex;
  border: solid 3.1px #C1CACA;
  width: 85%;
  border-radius: 25px;
  margin-bottom: 50px;
}

.imgcarrinho {
  position: relative;
  width: 350px;
  border-radius: 35px;
  z-index: 2;
  transform: scale(1.03, 1.03);
}

.imgcarrinho img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  border: solid 2px #C1CACA;
}

.detalhesprudutocarrinho {
  width: 100%;
}

.titulodanoticia {
  border-radius: 0px 24px 0px 0px;
  background-color: #ffa600bf;
  width: 100%;

}

.titulodanoticia h2 {
  width: 100%;
  text-align: center;
  margin-left: 25px;
  font-weight: 300;
  padding: 5px 0px;
  font-size: clamp(0.35vw, 30px, 3vw);
}

.trechonoticia {
  margin: 25px;
  font-size: clamp(0.35vw, 18px, 2.5vw);
}

/* --------------final tela flitragem */

/* estilo mobile */
@media (max-width: 760px) {}


/* ------------------inicio tela Grandes-------------------- */

@media (min-width: 1024px) {}

/* ------------------Finaltela Grandes-------------------- */